In [1]:
import pandas as pd # aqui importamos pandas

In [2]:
df1 = pd.DataFrame({   # aqui creamos un data frame con un diccionario
    "name": ["Jhion", "Frank", "Aquiles"],
    "Addres": ["Nueva york", "Leon 220","Grecia"],
    "edad" : [28, 28,32]
})

In [3]:
print (df1)

      name      Addres  edad
0    Jhion  Nueva york    28
1    Frank    Leon 220    28
2  Aquiles      Grecia    32

In [4]:
df1.index # es para ver los indices de info que tiene y te explica donde inicia 
          #y donde termina ademas de cuantos en cuantos va

RangeIndex(start=0, stop=3, step=1)

In [5]:
df1.loc[1] # esta funion es para imprimir una linea y te muestra kla info dentro de las llaves pones 
           # el indice que quieres ver o mostrar

name         Frank
Addres    Leon 220
edad            28
Name: 1, dtype: object

In [3]:
df2 = pd.DataFrame([
    ["Jhon", "Americas 215", 28],          #esto es otro metodo de dataframe con listas
    ["Tarzan", "AFRICA OCCIDENTAL", 22],   #se acaba la lista padre y depues se agrega una "," y despues se 
    ["Paco", "JAPAN", 28]                #asignan las columnas
],
columns = ["name", "address", "age"])

In [20]:
print(df2)

     name            address  age
0    Jhon       Americas 215   28
1  Tarzan  AFRICA OCCIDENTAL   22
2    Paco              JAPAN   28

In [8]:
df3 = pd.read_csv("datasets/imdb.csv") # esto es para mostrar una csv y se genera un data frame en automatico 
                                 # dentro del parentesis se pone la ruta del archivo junto con su nombre

In [7]:
df3.head() #es para mostar el encabezado del data frame te muestra los 5 primeros valores

   id                                       name   genre  year imdb_rating
0   1                                     Avatar  action  2009         7.9
1   2                             Jurassic World  action  2015         7.3
2   3                               The Avengers  action  2012         8.1
3   4                            The Dark Knight  action  2008         9.0
4   5  Star Wars: Episode I - The Phantom Menace  action  1999         6.6

In [24]:
df3.info()   # te muestra distintas metricas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           220 non-null    int64
 1   name         220 non-null    object
 2   genre        220 non-null    object
 3   year         220 non-null    int64
 4   imdb_rating  220 non-null    object
dtypes: int64(2), object(3)
memory usage: 8.7+ KB

In [5]:
df4 = pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

In [6]:
df4

   Yes   No
0   50  131
1   21    2

In [7]:
dfacustomers= pd.DataFrame([
    ["Rebecca erikson" , 35],
    ["Francisco", 25],
    ["Jhon 117" ,33],
],
columns = ["Name", "Age"])

In [8]:
dfacustomers["Age"] # es para hacer la consulta de una columna ocn el metodo de diccionario

0    35
1    25
2    33
Name: Age, dtype: int64

In [9]:
dfacustomers.Age

0    35
1    25
2    33
Name: Age, dtype: int64

In [13]:
name = df3.name # la consulta se le puede asiganar a una variable

In [14]:
name # aqui llame a la variable

0                                         Avatar
1                                 Jurassic World
2                                   The Avengers
3                                The Dark Knight
4      Star Wars: Episode I - The Phantom Menace
                         ...
215                                     Hannibal
216                          Catch Me If You Can
217                                    Big Daddy
218                                        Se7en
219                                        Seven
Name: name, Length: 220, dtype: object

In [17]:
# vamos a crear una serie desde 0

In [21]:
clinica = pd.Series([100 , 50 , 18, 20, "paco"])
print(clinica)

0     100
1      50
2      18
3      20
4    paco
dtype: object

In [22]:
print(type(clinica))

<class 'pandas.core.series.Series'>

In [ ]:
# para hacer una seleccion multiple se usa el metodo de listasA

In [27]:
seleccionmultipledeColumnas = df3[["year","genre"]]
print(seleccionmultipledeColumnas)

     year   genre
0    2009  action
1    2015  action
2    2012  action
3    2008  action
4    1999  action
..    ...     ...
215  2001   drama
216  2002   drama
217  1999   drama
218  1995   drama
219  1979   drama

[220 rows x 2 columns]

In [28]:
avengers = df3.iloc[2]
print(avengers)

id                        3
name           The Avengers
genre                action
year                   2012
imdb_rating             8.1
Name: 2, dtype: object

In [ ]:
# para seleccion multiple de lineas la sintaxis es asi
#df.iloc[inicio:final - 1 ]

In [29]:
df3.iloc[0: 20]

    id                                          name   genre  year imdb_rating
0    1                                        Avatar  action  2009         7.9
1    2                                Jurassic World  action  2015         7.3
2    3                                  The Avengers  action  2012         8.1
3    4                               The Dark Knight  action  2008         9.0
4    5     Star Wars: Episode I - The Phantom Menace  action  1999         6.6
5    6                                     Star Wars  action  1977         8.7
6    7                       Avengers: Age of Ultron  action  2015         7.9
7    8                         The Dark Knight Rises  action  2012         8.5
8    9     Pirates of the Caribbean: Dead Mans Chest  action  2006         7.3
9   10                                    Iron Man 3  action  2013         7.3
10  11                                    Spider-Man  action  2002        7.3v
11  12           Transformers: Revenge of the Fallen  action  2009         6.0
12  13  Star Wars: Episode III - Revenge of the Sith  action  2005         7.7
13  14                                  Spider-Man 2  action  2004         7.3
14  15                Transformers: Dark of the Moon  action  2011         6.3
15  16                               American Sniper  action  2014         7.4
16  17                                 Furious Seven  action  2015         7.4
17  18                                  Spider-Man 3  action  2007         6.2
18  19                       Guardians of the Galaxy  action  2014         8.1
19  20                                  Transformers  action  2007         7.1

In [30]:
df3[df3.genre == "horror"]

,id,name,genre,year,imdb_rating
97,98,World War Z,horror,2013,7.0
98,99,What Lies Beneath,horror,2000,6.6
99,100,Gremlins,horror,1984,7.2
100,101,The Blair Witch Project,horror,1999,6.4
101,102,The Conjuring,horror,2013,7.5
102,103,The Ring,horror,2002,7.1
103,104,The Grudge,horror,2004,5.9
104,105,Paranormal Activity,horror,2007,6.3
105,106,Interview with the Vampire: The Vampire Chroni...,horror,1994,7.6
106,107,Paranormal Activity 3,horror,2011,5.9
107,108,Scream,horror,1996,7.2
108,109,Jaws 2,horror,1978,5.7
109,110,Scream 2,horror,1997,6.1
110,111,Sleepy Hollow,horror,1999,7.4
111,112,The Others,horror,2001,7.6
112,113,The Haunting,horror,1999,4.9
113,114,Scream 3,horror,2000,5.5
114,115,Saw II,horror,2005,6.6
115,116,The Amityville Horror,horror,1979,6.2
116,117,Aliens,horror,1986,8.4
117,118,Paranormal Activity 2,horror,2010,5.7
118,119,Annabelle,horror,2014,5.4
119,120,Scooby-Doo 2: Monsters Unleashed,horror,2004,4.9
120,121,Insidious: Chapter 2,horror,2013,6.6
121,122,Dracula,horror,1992,7.5
122,123,Freddy vs. Jason,horror,2003,5.8
123,124,Blade II,horror,2002,6.7
124,125,Saw III,horror,2006,6.2
125,126,The Texas Chainsaw Massacre,horror,2003,6.2
126,127,Cloverfield,horror,2008,7.1
127,128,Dark Shadows,horror,2012,6.2
128,129,The Ring Two,horror,2005,5.4
129,130,Zombieland,horror,2009,7.7
130,131,Constantine,horror,2005,6.9
131,132,The Exorcism of Emily Rose,horror,2005,6.7
132,133,I Know What You Did Last Summer,horror,1997,5.6
133,134,1408,horror,2007,6.8
134,135,Mama,horror,2013,6.2
135,136,The Purge: Anarchy,horror,2014,6.5
136,137,Scary Movie 2,horror,2001,5.2
137,138,Blade,horror,1998,7.1
138,139,End of Days,horror,1999,5.7
139,140,The Forgotten,horror,2004,5.8
140,141,The Final Destination,horror,2009,5.2
141,142,Warm Bodies,horror,2013,6.9
142,143,Anaconda,horror,1997,4.6
143,144,Wolf,horror,1994,6.2
144,145,Friday the 13th,horror,2009,5.6
145,146,The Purge,horror,2013,5.6

In [31]:
df3[df3.genre != "horror"]

      id                                       name   genre  year imdb_rating
0      1                                     Avatar  action  2009         7.9
1      2                             Jurassic World  action  2015         7.3
2      3                               The Avengers  action  2012         8.1
3      4                            The Dark Knight  action  2008         9.0
4      5  Star Wars: Episode I - The Phantom Menace  action  1999         6.6
..   ...                                        ...     ...   ...         ...
215  216                                   Hannibal   drama  2001         6.7
216  217                        Catch Me If You Can   drama  2002         8.0
217  218                                  Big Daddy   drama  1999         6.4
218  219                                      Se7en   drama  1995         8.6
219  220                                      Seven   drama  1979         6.1

[171 rows x 5 columns]

In [ ]:
condicional or se expresa con este simbolo |

In [32]:
df3[(df3.year > 2014) | (df3.genre == "action")]

,id,name,genre,year,imdb_rating
0,1,Avatar,action,2009,7.9
1,2,Jurassic World,action,2015,7.3
2,3,The Avengers,action,2012,8.1
3,4,The Dark Knight,action,2008,9.0
4,5,Star Wars: Episode I - The Phantom Menace,action,1999,6.6
5,6,Star Wars,action,1977,8.7
6,7,Avengers: Age of Ultron,action,2015,7.9
7,8,The Dark Knight Rises,action,2012,8.5
8,9,Pirates of the Caribbean: Dead Mans Chest,action,2006,7.3
9,10,Iron Man 3,action,2013,7.3
10,11,Spider-Man,action,2002,7.3v
11,12,Transformers: Revenge of the Fallen,action,2009,6.0
12,13,Star Wars: Episode III - Revenge of the Sith,action,2005,7.7
13,14,Spider-Man 2,action,2004,7.3
14,15,Transformers: Dark of the Moon,action,2011,6.3
15,16,American Sniper,action,2014,7.4
16,17,Furious Seven,action,2015,7.4
17,18,Spider-Man 3,action,2007,6.2
18,19,Guardians of the Galaxy,action,2014,8.1
19,20,Transformers,action,2007,7.1
20,21,Iron Man,action,2008,7.9
21,22,Indiana Jones and the Kingdom of the Crystal S...,action,2008,6.2
22,23,Iron Man 2,action,2010,7.1
23,24,Star Wars: Episode II - Attack of the Clones,action,2002,6.7
24,25,Pirates of the Caribbean: At Worlds End,action,2007,7.1
25,26,Star Wars: Episode VI - Return of the Jedi,action,1983,8.4
26,27,Independence Day,action,1996,6.9
27,28,Pirates of the Caribbean: The Curse of the Bla...,action,2003,8.1
28,29,Skyfall,action,2012,7.8
29,30,Inception,action,2010,8.8
30,31,Man of Steel,action,2013,7.2
31,32,Star Wars: Episode V - The Empire Strikes Back,action,1980,8.8
32,33,The Matrix Reloaded,action,2003,7.2
33,34,The Amazing Spider-Man,action,2012,7.1
34,35,The Incredibles,action,2004,8.0
35,36,Captain America: The Winter Soldier,action,2014,7.8
36,37,The Lego Movie,action,2014,7.8
37,38,Star Trek,action,2009,8.0
38,39,Batman,action,1989,7.6
39,40,Night at the Museum,action,2006,6.4
40,41,Transformers: Age of Extinction,action,2014,5.8
41,42,Twister,action,1996,6.3
42,43,Maleficent,action,2014,7.0
43,44,Pirates of the Caribbean: On Stranger Tides,action,2011,6.7
44,45,Fast & Furious 6,action,2013,7.2
45,46,Beverly Hills Cop,action,1984,7.3
46,47,X-Men: The Last Stand,action,2006,6.8
47,48,X-Men: Days of Future Past,action,2014,8.1
48,49,The Lost World: Jurassic Park,action,1997,6.5
49,50,Star Trek Into Darkness,action,2013,7.8
55,56,Inside Out,comedy,2015,8.6
57,58,Minions,comedy,2015,6.7
155,156,Cinderella,romance,2015,7.1
170,171,Fifty Shades of Grey,romance,2015,4.2

In [33]:
df3[(df3.year > 2014) & (df3.genre == "comedy")]

    id        name   genre  year imdb_rating
55  56  Inside Out  comedy  2015         8.6
57  58     Minions  comedy  2015         6.7

In [35]:
# para seleccionar varias filas pero con filtros en especifico se hace asi:
myseleccion = df3[df3.name.isin(["Star Wars", "Blade", "one piece"])]

print(myseleccion)

      id       name   genre  year imdb_rating
5      6  Star Wars  action  1977         8.7
137  138      Blade  horror  1998         7.1

In [ ]:
# PARA RECETEAR EL INDICE SE USA EL METODO .reset_index()

In [36]:
myseleccion.reset_index()

   index   id       name   genre  year imdb_rating
0      5    6  Star Wars  action  1977         8.7
1    137  138      Blade  horror  1998         7.1

In [ ]:
# para despues borrar el indice index

In [37]:
myseleccion.reset_index(drop=True) #DENTRO DEL PARAMETRO DE RESET SE USA EL COMANDO DROP

    id       name   genre  year imdb_rating
0    6  Star Wars  action  1977         8.7
1  138      Blade  horror  1998         7.1

In [1]:
# modificando data frame desde pandas agregar una nueva columna

In [2]:
import pandas as pd